
body {
  position: relative;
}

body::after {
    content: "";    
    opacity: 1;
    filter: alpha(opacity=1);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  /*    background-position: 65%; */
    background-repeat: no-repeat;
    background-size: cover;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
.background-tint {
  background-color: rgba(228,235,244,1);
  background-blend-mode: multiply;
}

h1, h2 {
  font-size: 25px;   
  font-weight: 700; 	
  color: blacks;
  background: -webkit-linear-gradient(right, rgba(185,229,244,1), rgba(83,192,240,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(185,229,244,1), rgba(83,192,240,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(185,229,244,1), rgba(83,192,240,1)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to left, rgba(83,192,240,1),rgba(185,229,244,1)); /*syntax (must be last) */

}
hr {
    clear: both;
    visibility: hidden;
}
br {
    clear: both;
    visibility: hidden;
}
p {
    text-indent: 30px;
}
h3 span {

}

section {
  padding-top: 20px 0;
  color: #041e2d;
  font-size: 17px;
  /* padding-bottom: 120px;  */
 
}

section:last-child {
  border-bottom: none;
  /* padding-bottom: 120px; */
}

#personal-info > * > .personal_container_tint .container {
    font-size: 20px;
    color: #111111;  
}

#personal-info > * > .personal_container_tint .container .row a{
    color: #111111;
    font-size: 20px;  
}
.personal_container_tint {
  background-color: rgba(255,255,255,1);
  background-blend-mode: add;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2%;
  padding-left: 2%;
  text-align: justify;
  text-justify: auto;
}

/* Container around content */
.container_leafs {
    position: relative;
    background-color: inherit;
    width: 100%;

}

/* The actual content */
.container_leafs div.content {
    background-color: rgba(255,255,255,1); 
    color: #000000;
    position: relative;
    width: 100%;
}

.container_leafs div.content h2 {
    font-weight: 600;
    font-size: 20px;
    background: none;
    color: #111111;    
    background: -webkit-linear-gradient(right, rgba(185,229,244,1), rgba(83,192,240,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(185,229,244,1), rgba(83,192,240,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(185,229,244,1), rgba(83,192,240,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(83,192,240,1),rgba(185,229,244,1)); /*syntax (must be last) */

}
