[submodule "submodules/mxgraph"]
	path = submodules/mxgraph
	url = https://github.com/jgraph/mxgraph.git
[submodule "submodules/nodejs"]
	path = submodules/nodejs
	url = https://github.com/nodejs/node.git
[submodule "submodules/angular-cli"]
	path = submodules/angular-cli
	url = https://github.com/angular/angular-cli.git
